@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");

.Footer {
  background-color: coral;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Header {
  padding: 3em;
}

h3, h4{
  font-family: 'IBM Plex Mono';
}
